<div class="feedback">
  <div class="feedback-overlay"></div>
  <div class="box step-1">
    <div class="title">这篇文章有用吗？</div>
    <div class="buttons">
      <button class="yes">是的</button>
      <button class="no">没什么用</button>
    </div>
  </div>
  <div class="box step-2">
    <div class="feedback-yes">
      <div class="title">真棒!</div>
      <div class="subtitle">我们还可以做些什么，让它变得更好？?</div>
    </div>
    <div class="feedback-no">
      <div class="title">非常抱歉！!</div>
      <div class="subtitle">请告诉我们如何改进我们的文档.</div>
    </div>
    <div class="form">
      <div class="textarea">
        <textarea placeholder="留个评论"></textarea>
        <div class="mirror"></div>
      </div>
      <div class="options">
        <button class="skip">跳过评论</button>
        <button class="send" disabled>发送反馈</button>
      </div>
    </div>
  </div>
  <div class="box step-3">
    <div class="title">谢谢!</div>
    <div class="subtitle">您的反馈将有助于我们改善每个人在 Decentraland 上的体验.</div>
  </div>
  <div class="links">
    有建议?
    <a href="https://github.com/decentraland/documentation-cn/edit/master/{{ page.path }}" rel="nofollow" target="_blank">在
      GitHub 上编辑这个文档</a>
  </div>
</div>