<section class="help-section">
  <h1 class="help-intro-title">
    更多帮助?
  </h1>
  <ul class="help-listing">
    <li>
      <a href="https://discord.gg/k5ydeZp" target="_blank">
        <h3>社区聊天</h3>
        <p class="description">
          在 Discord 分享您的问题、见解和创作
        </p>
      </a>
    </li>
    <li>
      <a href="https://decentraland.us15.list-manage.com/subscribe?u=6f74047a4693dbc82dc4f3131&id=da075b1985" target="_blank">
        <h3>邮件列表</h3>
        <p class="description">
          订阅我们的邮件列表以获得项目的最新更新通知。
        </p>
      </a>
    </li>
    <li>
      <a href="https://t.me/DecentralandTG" target="_blank">
        <h3>Telegram</h3>
        <p class="description">
          通过 Telegram 联系我们
        </p>
      </a>
    </li>
  </ul>
</section>